A data study on NYPD Motor vehicle Collisions

Dataset: https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions-Crashes/h9gi-nx95

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
NYMVC = pd.read_csv("NYPD_Motor_Vehicle_Collisions_-_Crashes.csv")

In [4]:
NYMVC

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2018-01-01,12:30,BRONX,10475.0,40.885952,-73.827900,"(40.885952, -73.8279)",BOSTON ROAD,CONNER STREET,NaN,...,Unspecified,NaN,NaN,NaN,3822309,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1,2018-01-01,2:29,MANHATTAN,10025.0,40.796066,-73.967070,"(40.796066, -73.96707)",NaN,NaN,151 WEST 100 STREET,...,Unspecified,NaN,NaN,NaN,3822260,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,2018-01-01,14:15,QUEENS,11354.0,NaN,NaN,NaN,NaN,NaN,138-20 39 AVENUE,...,Unspecified,NaN,NaN,NaN,3820764,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3,2018-01-01,12:20,BROOKLYN,11223.0,40.609253,-73.969050,"(40.609253, -73.96905)",EAST 5 STREET,AVENUE P,NaN,...,Unspecified,NaN,NaN,NaN,3839393,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4,2018-01-01,13:30,QUEENS,11422.0,40.665257,-73.739260,"(40.665257, -73.73926)",SOUTH CONDUIT AVENUE,MEMPHIS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3820539,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
5,2018-01-01,2:30,NaN,NaN,40.767060,-73.739120,"(40.76706, -73.73912)",248 STREET,NORTHERN BOULEVARD,NaN,...,Unspecified,Unspecified,NaN,NaN,3819573,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
6,2018-01-01,22:40,NaN,NaN,40.691914,-73.883320,"(40.691914, -73.88332)",JACKIE ROBINSON PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3832346,Sedan,NaN,NaN,NaN,NaN
7,2018-01-01,15:00,QUEENS,11436.0,40.673157,-73.789024,"(40.673157, -73.789024)",149 STREET,ROCKAWAY BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,3819020,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
8,2018-01-01,17:20,MANHATTAN,10035.0,40.805058,-73.939040,"(40.805058, -73.93904)",EAST 125 STREET,PARK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3820533,TK,PASSENGER VEHICLE,NaN,NaN,NaN
9,2018-01-01,2:00,BROOKLYN,11212.0,40.659336,-73.909070,"(40.659336, -73.90907)",NEWPORT STREET,CHESTER STREET,NaN,...,Unspecified,NaN,NaN,NaN,3819260,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
10,2018-01-01,0:55,NaN,NaN,40.635520,-74.016700,"(40.63552, -74.0167)",6 AVENUE,65 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3819035,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
11,2018-01-01,8:26,QUEENS,11364.0,40.743280,-73.744780,"(40.74328, -73.74478)",73 AVENUE,230 STREET,NaN,...,NaN,NaN,NaN,NaN,3818620,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
12,2018-01-01,13:15,BROOKLYN,11211.0,40.712240,-73.957146,"(40.71224, -73.957146)",HAVEMEYER STREET,SOUTH 1 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3819044,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
13,2018-01-01,6:07,BROOKLYN,11234.0,40.635185,-73.928620,"(40.635185, -73.92862)",UTICA AVENUE,GLENWOOD ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3820948,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
14,2018-01-01,15:30,BROOKLYN,11206.0,40.703636,-73.938030,"(40.703636, -73.93803)",NaN,NaN,389 BUSHWICK AVENUE,...,Unspecified,NaN,NaN,NaN,3819045,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
15,2018-01-01,14:50,NaN,NaN,40.672222,-73.807460,"(40.672222, -73.80746)",SUTTER AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3818864,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
16,2018-01-01,0:27,QUEENS,11419.0,40.689133,-73.820860,"(40.689133, -73.82086)",124 STREET,103 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4025420,Sedan,Taxi,NaN,NaN,NaN
17,2018-01-01,17:30,NaN,NaN,40.766685,-73.892136,"(40.766685, -73.892136)",77 STREET,ASTORIA BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3821648,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,2018-01-01,15:15,NaN,NaN,40.604870,-74.029550,"(40.60487, -74.02955)",BELT PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3820881,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
19,2018-01-01,3:15,BRONX,10458.0,40.867424,-73.891820,"(40.867424, -73.89182)",EAST 196 STREET,VALENTINE AVENUE,NaN,...,NaN,NaN,NaN,NaN,3822464,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
20,2018-01-01,22:30,NaN,NaN,40.570877,-74.169840,"(40.570877, -74.16984)",RICHMOND AVENUE,FOREST HILL ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3823246,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
21,2018-01-01,4:55,NaN,NaN,40.657665,-73.897050,"(40.657665, -73.89705)",HINSDALE STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3820846,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
22,2018-01-01,9:49,BROOKLYN,11206.0,40.701878,-73.929860,"(40.701878, -73.92986)",NaN,NaN,257 MELROSE STREET,...,NaN,NaN,NaN,NaN,3820878,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
23,2018-01-01,14:00,BROOKLYN,11216.0,40.681953,-73.948640,"(40.681953, -73.94864)",NaN,NaN,119 HALSEY STREET,...,Other Vehicular,NaN,NaN,NaN,3822073,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
24,2018-01-01,20:00,BROOKLYN,11206.0,40.693310,-73.947624,"(40.69331, -73.947624)",NaN,NaN,95 HART STREET,...,NaN,NaN,NaN,NaN,3822076,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
25,2018-01-01,16:30,QUEENS,11429.0,40.705470,-73.735756,"(40.70547, -73.735756)",NaN,NaN,221-31 112 AVENUE,...,Unspecified,NaN,NaN,NaN,3820777,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
26,2018-01-01,11:00,NaN,NaN,40.762234,-73.989870,"(40.762234, -73.98987)",9 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,3818998,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
27,2018-01-01,15:00,NaN,NaN,40.717050,-73.823240,"(40.71705, -73.82324)",JACKIE ROBINSON PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3821343,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
28,2018-01-01,15:55,BROOKLYN,11204.0,40.617195,-73.977940,"(40.617195, -73.97794)",NaN,NaN,5901 BAY PARKWAY,...,Backing Unsafely,NaN,NaN,NaN,3822517,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
29,2018-01-01,19:10,NaN,NaN,40.675533,-73.814480,"(40.675533, -73.81448)",ROCKAWAY BOULEVARD,123 STREET,NaN,...,NaN,NaN,NaN,NaN,3819066,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231929,2019-01-01,6:32,NaN,NaN,40.861310,-73.921240,"(40.86131, -73.92124)",WEST 202 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4061625,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231930,2019-01-01,16:00,BRONX,10460.0,40.835808,-73.890830,"(40.835808, -73.89083)",BOSTON ROAD,SEABURY PLACE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4060610,Motorcycle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231931,2019-01-01,4:30,NaN,NaN,40.657093,-73.950260,"(40.657093, -73.95026)",NOSTRAND AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4060492,Pick-up Truck,Sedan,NaN,NaN,NaN
231932,2019-01-01,1:55,BRONX,10452.0,40.841724,-73.919136,"(40.841724, -73.919136)",NaN,NaN,1426 CROMWELL AVENUE,...,Unspecified,NaN,NaN,NaN,4060552,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231933,2019-01-01,20:30,MANHATTAN,10039.0,40.821636,-73.939090,"(40.821636, -73.93909)",7 AVENUE,WEST 145 STREET,NaN,...,NaN,NaN,NaN,NaN,4060662,Taxi,NaN,NaN,NaN,NaN
231934,2019-01-01,13:00,NaN,NaN,40.611473,-74.176230,"(40.611473, -74.17623)",NaN,NaN,1100 SOUTH AVENUE,...,NaN,NaN,NaN,NaN,4060528,Sedan,NaN,NaN,NaN,NaN
231935,2019-01-01,5:05,BRONX,10458.0,40.864132,-73.891320,"(40.864132, -73.89132)",EAST 194 STREET,MARION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4060697,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231936,2019-01-01,14:30,NaN,NaN,40.794052,-73.970375,"(40.794052, -73.970375)",WEST 96 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4060583,Sedan,Sedan,NaN,NaN,NaN
231937,2019-01-01,10:00,BROOKLYN,11214.0,40.604110,-73.994330,"(40.60411, -73.99433)",NaN,NaN,2112 84 STREET,...,NaN,NaN,NaN,NaN,4062388,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
231938,2019-01-01,17:11,QUEENS,11354.0,40.763958,-73.828140,"(40.763958, -73.82814)",UNION STREET,NORTHERN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4060568,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231939,2019-01-01,8:25,BROOKLYN,11208.0,40.683144,-73.876820,"(40.683144, -73.87682)",NaN,NaN,180 RICHMOND STREET,...,Other Vehicular,NaN,NaN,NaN,4060748,Sedan,Sedan,NaN,NaN,NaN
231940,2019-01-01,1:45,NaN,NaN,NaN,NaN,NaN,PELHAM PARKWAY SOUTH,WHITE PLAINS ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4060436,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231941,2019-01-01,4:00,MANHATTAN,10034.0,40.864460,-73.918950,"(40.86446, -73.91895)",WEST 207 STREET,10 AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,4061250,Sedan,Taxi,Taxi,NaN,NaN
231942,2019-01-01,4:50,BROOKLYN,11218.0,40.634926,-73.968290,"(40.634926, -73.96829)",NaN,NaN,3721 18 AVENUE,...,Unspecified,NaN,NaN,NaN,4061289,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
231943,2019-01-01,19:45,MANHATTAN,10034.0,40.868140,-73.930420,"(40.86814, -73.93042)",NaN,NaN,348 DYCKMAN STREET,...,Unspecified,NaN,NaN,NaN,4060862,Sedan,Sedan,NaN,NaN,NaN
231944,2019-01-01,5:35,BROOKLYN,11237.0,40.714207,-73.928170,"(40.714207, -73.92817)",METROPOLITAN AVENUE,STEWART AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4060543,Sedan,Sedan,NaN,NaN,NaN
231945,2019-01-01,0:00,BROOKLYN,11234.0,40.621563,-73.923996,"(40.621563, -73.923996)",NaN,NaN,5315 AVENUE M,...,Unspecified,NaN,NaN,NaN,4060629,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
231946,2019-01-01,15:00,MANHATTAN,10013.0,40.716170,-73.998180,"(40.71617, -73.99818)",NaN,NaN,69 MOTT STREET,...,Unspecified,NaN,NaN,NaN,4063039,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231947,2019-01-01,2:50,NaN,NaN,NaN,NaN,NaN,CROSS ISLAND PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4060425,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
231948,2019-01-01,9:40,NaN,NaN,40.681503,-73.904106,"(40.681503, -73.904106)",BUSHWICK AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4074919,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231949,2019-01-01,18:09,MANHATTAN,10031.0,40.821606,-73.954680,"(40.821606, -73.95468)",NaN,NaN,616 WEST 137 STREET,...,Unspecified,NaN,NaN,NaN,4060978,Box Truck,Sedan,NaN,NaN,NaN
231950,2019-01-01,11:00,QUEENS,11421.0,40.689842,-73.850075,"(40.689842, -73.850075)",WOODHAVEN BOULEVARD,91 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4061133,Sedan,NaN,NaN,NaN,NaN
231951,2019-01-01,23:40,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4060642,Sedan,Sedan,NaN,NaN,NaN
231952,2019-01-01,12:26,QUEENS,11422.0,40.665610,-73.735680,"(40.66561, -73.73568)",FRANCIS LEWIS BOULEVARD,SUNRISE HIGHWAY,NaN,...,Unspecified,Unspecified,NaN,NaN,4060510,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
231953,2019-01-01,17:00,BROOKLYN,11208.0,40.687420,-73.870210,"(40.68742, -73.87021)",NaN,NaN,111 LINCOLN AVENUE,...,NaN,NaN,NaN,NaN,4060759,Sedan,NaN,NaN,NaN,NaN
231954,2019-01-01,21:43,NaN,NaN,40.808224,-73.936730,"(40.808224, -73.93673)",EAST 130 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4060922,Sedan,Sedan,NaN,NaN,NaN
231955,2019-01-01,19:00,QUEENS,11368.0,40.738380,-73.854650,"(40.73838, -73.85465)",NaN,NaN,58-35 GRANGER STREET,...,Unspecified,NaN,NaN,NaN,4060730,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
231956,2019-01-01,14:25,QUEENS,11369.0,40.761150,-73.877880,"(40.76115, -73.87788)",NaN,NaN,30-42 91 STREET,...,NaN,NaN,NaN,NaN,4063099,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
231957,2019-01-01,1:17,NaN,NaN,40.737360,-73.934074,"(40.73736, -73.934074)",LONG ISLAND EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4063359,Sedan,NaN,NaN,NaN,NaN
231958,2019-01-01,6:25,BRONX,10458.0,40.861942,-73.893730,"(40.861942, -73.89373)",EAST FORDHAM ROAD,ELM PLACE,NaN,...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,NaN,NaN,NaN,4060481,Sedan,Sedan,NaN,NaN,NaN

In [3]:
NYMVC["DATE"] = pd.to_datetime(NYMVC["DATE"])
NYMVC.dtypes

DATE                             datetime64[ns]
TIME                                     object
BOROUGH                                  object
ZIP CODE                                float64
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

Let's create a dataframe that represents the collisions that happened in only the Bronx.

In [6]:
bx_filter = NYMVC["BOROUGH"] == "BRONX"
bxVC = NYMVC[bx_filter]

In [13]:
NYMVC.groupby(NYMVC["DATE"].dt.month).sum()

,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
DATE,,,,,,,,,,,,
1,130421033.0,712901.884617,-1.295180e+06,4607.0,13.0,1043,7,203,2,3354,4,71208270331
2,112690197.0,611657.757301,-1.110335e+06,4048.0,16.0,984,9,213,0,2849,7,61545214026
3,135869353.0,734092.641470,-1.332997e+06,4750.0,19.0,963,11,243,0,3549,8,74516525253
4,126605354.0,695839.443757,-1.263903e+06,4676.0,17.0,744,7,314,3,3617,6,70680699315
5,145830584.0,795307.303796,-1.444477e+06,5667.0,13.0,882,7,469,1,4314,5,81357246134
6,144385541.0,796033.746839,-1.445647e+06,5618.0,21.0,802,10,530,2,4281,9,81612927192
7,138884264.0,754493.037861,-1.369487e+06,5492.0,17.0,714,9,561,1,4216,7,77723855046
8,137379548.0,752819.420078,-1.366696e+06,5555.0,17.0,737,4,630,1,4190,12,77844997700
9,134811460.0,730803.800512,-1.326589e+06,5564.0,32.0,883,17,544,1,4134,15,76604177947
10,144745886.0,776196.914414,-1.408916e+06,5655.0,19.0,971,7,476,0,4207,12,83295152446
11,135109433.0,729357.475011,-1.323903e+06,5027.0,23.0,1114,15,309,0,3595,8,78194752102
12,135555202.0,727708.042065,-1.320945e+06,5416.0,22.0,1303,18,240,0,3871,4,78882208834

In [16]:
bxm_filter = (NYMVC["BOROUGH"] == "BRONX") | (NYMVC["BOROUGH"] == "MANHATTAN")
compare1 = NYMVC[bxm_filter]

In [27]:
compare1.max()

DATE                             2019-01-01 00:00:00
TIME                                            9:59
BOROUGH                                    MANHATTAN
ZIP CODE                                       10475
LATITUDE                                     40.9129
LONGITUDE                                          0
NUMBER OF PERSONS INJURED                         20
NUMBER OF PERSONS KILLED                           1
NUMBER OF PEDESTRIANS INJURED                      6
NUMBER OF PEDESTRIANS KILLED                       1
NUMBER OF CYCLIST INJURED                          2
NUMBER OF CYCLIST KILLED                           1
NUMBER OF MOTORIST INJURED                        20
NUMBER OF MOTORIST KILLED                          1
COLLISION_ID                                 4196163
dtype: object

In [34]:
jan_filter = (NYMVC["DATE"].dt.month == 1)

#(NYMVC[jan_filter])